.rebalance {
  font-family: 'Raleway', sans-serif !important
}

.trade-select {
  margin-top: 2em;
  display: flex;
  width: 100%;
  border-bottom: 1px lightgrey solid;

  button {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
.rebalance-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6em;

  .allocation-chart {
    // border: springgreen solid 1px;
    position: relative;
    width: 50em;
    margin-left: -10%;
  }
}

.rebalance-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2em;
}

.allocation-table {
  margin-left: -25em;
}

.allocation-field {
  width: 3em;
}

.settings {
  margin-top: -0.15em;
}

.rebalance-text {
  font-family: 'Raleway', sans-serif;
  width: 60vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: left;
  margin-top: 7em;
  font-size: 16px;
  background: rgba(53, 162, 235, 0.105);
  border-left: #35a2eb solid 7px;
}
.time-span {
  color: #ff6384;
}
.span-style {
  font-weight: 600;
}

button {
  border-radius: 0 !important;
  border:none;
  background: none;
  border-bottom: #35a2eb solid 2px !important;
  margin-left: 0.5em !important;
}