.wrapper1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-items: stretch;
}

.header-text {
  margin-top: 2em;
  margin-bottom: 2em;
  color: #4f4f4f;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.chart-container {
  padding: 2em;
}

.wallet-container {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 2em;
};

.doughnut-container {
  padding: 2em;
};

.currency-container {
  padding: 2em;
}

.transactions-header {
  font-family: 'Raleway', sans-serif;
}

.wallet-text {
  color: #6d6e70;
  font-weight: 500;
}

.wallet-line {
  display: flex;
  justify-content: space-between;
  margin-top: 0em;
  padding: 1em;
}

.wallet-number {
  font-family: 'Roboto', sans-serif;
}

.wallet-buttons {
  margin-left: 10em;
}

.currency-item {
  font-family: 'Raleway', sans-serif;
  color: #6d6e70;
  text-decoration: none;
}

.chart-buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1900px) {
  // .bottom-section {
  //   display: flex;
  //   flex-direction: row;
  // }

  // .doughnut-container {
  //   margin: 0;
  //   width: 25vw;
  // }

  // .currency-container {
  //   width: 40vw;
  // }
}