.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
}

.top-section,
.middle-section,
.bottom-section {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bottom-section {
  justify-content: flex-end;
}

.chart-container {
  height: 40vh;
  width: 40vw;
}

.wallet-container {
  height: 40vh;
  width: 40vw;
}

.performance-chart-container {
  padding: 1.5em;
}

.pc1 {
  position: relative;
  //using vh messes with chart on window-resize
  width: 1000px !important;
  height: 200px !important;
}

.pc2 {
  margin-top: 3em;
}

.transactions {
  margin: 1em;
  padding: 1em;
}
