body {
  background-color: rgba(235, 243, 255, 0.4);;
}

.App-container {
  font-size: calc(10px + 1.25vmin);
  padding-right: 1em;
}

.main-container {
  margin-left: 16.5%;
}

.page-header {
  display: flex;
  width: 100%;
  border-bottom: 1px lightgrey solid;
}