// .chart-container {
//   height: 20vh;
//   width: 40vw;
//   margin: 0;
// }

// .wallet-container {
//   margin-top: 10em;
//   width: 50vw;
// }

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}