.side-nav {
  background-color: #edf0f4;
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.nav-body {
  margin-left: 2.5em;
  margin-top: 2.5em;
  padding-right: 2.5em;
}

.nav-header {
  font-size: 1.8em;
  margin-bottom: 1.5em;

  .header-bold {
    color: #35a2eb;
    font-weight: 600;
  }
}

.list-item {
  text-decoration: none;
  color: #525a6e;
}

.test {
  border: lightgreen solid 1px;
}

.link-list > * {
  font-size: 1.1em;
  list-style-type: none;
  height: 2.8em;
  margin-bottom: 1em;
}
.active {
  background: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);

  .MuiSvgIcon-root{
    color:#35a2eb;
  }
}

.MuiListItemIcon-root {
  min-width: 50px !important;
}
